fieldset {
    border: none;
    margin: .2rem;
}

.vue-form-generator input {
    background: #efefefef;
    color: #272727FE;
}

.VPSidebarItem .VPBadge {
    float: right;
}

.VPBadge.custom {
    padding: 0 5px;
    border-radius: 8px;
    font-size: 11px;
}

.VPBadge.new {
    background-color: #1b8c57;
    color: #deded6;
}